<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>kevindmorgan</title>
	<style>
		* {
			color: #912A8D;
			font-family: helvetica, arial, sans-serif;
			font-weight: bold;
		}
		body {
			text-align: center;
		}
		p {
			font-size: 128px;
		}
		.no-image {
			width: 2em;
			margin-left: auto;
			margin-right: auto;
		}
		.image {
			width: 16em;
			margin-left: auto;
			margin-right: auto;
		}
		.image p {
			margin: 0;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Does Carl have a caricature yet?</h1>
	<div id="content">
		{{#has_caricature}}
			<div class="image">
				<img src="{{image}}" />
				<p>YES</p>
			</div>
		{{/has_caricature}}
		{{^has_caricature}}
			<p class="no-image">NO</p>
		{{/has_caricature}}
	</div>
</body>
</html>
